fastapi
uvicorn[standard]
celery
SQLAlchemy
duckdb-engine
chromadb
pydantic>=1.10.0,<2.0.0
python-multipart
pypdf
python-docx
openpyxl
Pillow
passlib[bcrypt]
python-jose[cryptography]
numpy<2
pyjwt==2.10.1
langchain
langchain-community
sentence_transformers